<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_abbey.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,40},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{36,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{36,37}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>icon_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,216},{36,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{36,37}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>icon_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,43}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>icon_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,216},{36,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{36,37}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>icon_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{36,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{36,37}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>icon_barrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,78},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_blacksmith.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,192},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_castle.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,154},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,116},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_college.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,40},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,78},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_horse.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,200},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_house.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,162},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_lumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,124},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_mapopt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,44},{40,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,212},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,170},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,128},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,86},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,44},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,212},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,170},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,128},{40,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,86},{40,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,44},{40,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,132},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,90},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,48},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_mapopt_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_market.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_range.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,40},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_res_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,86},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_res_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,200},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_siege.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,162},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,124},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,86},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>icon_wonder.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bsmall_icon.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcc4ecfd721e4c320eebab2861fe469f:60f93cce975b3475c6be4290a9a87150:d7e663cff9314445aa263b9d637f6882$</string>
            <key>textureFileName</key>
            <string>bsmall_icon.png</string>
        </dict>
    </dict>
</plist>
